// body {
//   background-color: red;
// }
$rhap_theme-color: #f00 !default; // Color of all buttons and volume/progress indicators
$rhap_background-color: #f00 !default; // Color of the player background
$rhap_bar-color: #f00 !default; // Color of volume and progress bar
$rhap_time-color: #f00 !default; // Font color of current time and duration
$rhap_font-family: inherit !default; // Font family of current time and duration
// .rhap_container {
//   background-color: #374151;
// }

// .rhap_time,
// .rhap_theme .rhap_bar {
//   color: white;
// }
